Source: nebula
Section: net
Priority: optional
Maintainer: Gabe Van Engel <gabe@schizoid.net>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://medium.com/p/884110a5579
Vcs-Browser: https://github.com/slackhq/nebula
Vcs-Git: https://github.com/slackhq/nebula.git

Package: nebula
Architecture: any
Depends: ${misc:Depends}
Description: Overlay network tool focused on performance, simplicity and security
 Nebula is a scalable overlay networking tool with a focus on performance, simplicity 
 and security. It lets you seamlessly connect computers anywhere in the world. Nebula 
 is portable, and runs on Linux, OSX, Windows, iOS, and Android. It can be used to 
 connect a small number of computers, but is also able to connect tens of thousands 
 of computers.
 . 
 Nebula incorporates a number of existing concepts like encryption, security groups, 
 certificates, and tunneling, and each of those individual pieces existed before 
 Nebula in various forms. What makes Nebula different to existing offerings is that it 
 brings all of these ideas together, resulting in a sum that is greater than its 
 individual parts.
